In [64]:
import pandas as pd

In [65]:
red_fin_data = "red_fin.csv"
house_df = pd.read_csv(red_fin_data)
house_df

,Region,Month of Period End,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,New Listings MoM,New Listings YoY,Inventory,Inventory MoM,Inventory YoY,Days on Market,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY
0,"Chicago, IL - Albany Park",Jan-12,$145K,0.00%,1.40%,79,0.00%,14.50%,101,-12.90%,-13.70%,204,-5.10%,-10.90%,107,-12.0,-3.0,94.60%,1.00%,-0.90%
1,"Chicago, IL - Albany Park",Feb-12,$136K,-6.60%,-3.00%,78,-1.30%,30.00%,103,2.00%,-14.90%,205,0.50%,-12.00%,120,13.0,20.0,94.70%,0.10%,-0.70%
2,"Chicago, IL - Albany Park",Mar-12,$122K,-10.00%,-6.00%,75,-3.80%,33.90%,120,16.50%,-14.30%,195,-4.90%,-16.70%,137,17.0,21.0,94.70%,0.10%,-0.80%
3,"Chicago, IL - Albany Park",Apr-12,$133K,9.00%,-9.20%,82,9.30%,51.90%,146,21.70%,-0.70%,200,2.60%,-14.90%,158,21.0,39.0,93.50%,-1.20%,-0.90%
4,"Chicago, IL - Albany Park",May-12,$136K,2.30%,-6.20%,87,6.10%,26.10%,148,1.40%,-3.30%,194,-3.00%,-17.40%,112,-47.0,-32.0,94.70%,1.20%,-1.20%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20960,"Chicago, IL - Wrigleyville",Apr-19,$510K,24.40%,-2.50%,9,-10.00%,-50.00%,37,37.00%,2.80%,28,12.00%,7.70%,72,-20.0,-1.0,98.40%,0.50%,-1.00%
20961,"Chicago, IL - Wrigleyville",May-19,$465K,-8.80%,-3.10%,12,33.30%,-52.00%,35,-5.40%,0.00%,30,7.10%,20.00%,57,-15.0,6.0,98.00%,-0.40%,-1.20%
20962,"Chicago, IL - Wrigleyville",Jun-19,$418K,-10.10%,-9.10%,15,25.00%,-34.80%,34,-2.90%,21.40%,29,-3.30%,61.10%,43,-14.0,-8.0,98.40%,0.50%,-0.30%
20963,"Chicago, IL - Wrigleyville",Jul-19,$435K,4.10%,-10.00%,20,33.30%,-28.60%,28,-17.60%,27.30%,30,3.40%,100.00%,59,16.0,9.0,98.20%,-0.20%,0.30%
20964,"Chicago, IL - Wrigleyville",Aug-19,$456K,4.70%,-0.20%,22,10.00%,-12.00%,34,21.40%,88.90%,37,23.30%,117.60%,65,6.0,17.0,98.00%,-0.30%,0.70%

In [66]:
house_df["Year"] = house_df["Month of Period End"].str[-2:]
house_df

,Region,Month of Period End,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,New Listings MoM,...,Inventory,Inventory MoM,Inventory YoY,Days on Market,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY,Year
0,"Chicago, IL - Albany Park",Jan-12,$145K,0.00%,1.40%,79,0.00%,14.50%,101,-12.90%,...,204,-5.10%,-10.90%,107,-12.0,-3.0,94.60%,1.00%,-0.90%,12
1,"Chicago, IL - Albany Park",Feb-12,$136K,-6.60%,-3.00%,78,-1.30%,30.00%,103,2.00%,...,205,0.50%,-12.00%,120,13.0,20.0,94.70%,0.10%,-0.70%,12
2,"Chicago, IL - Albany Park",Mar-12,$122K,-10.00%,-6.00%,75,-3.80%,33.90%,120,16.50%,...,195,-4.90%,-16.70%,137,17.0,21.0,94.70%,0.10%,-0.80%,12
3,"Chicago, IL - Albany Park",Apr-12,$133K,9.00%,-9.20%,82,9.30%,51.90%,146,21.70%,...,200,2.60%,-14.90%,158,21.0,39.0,93.50%,-1.20%,-0.90%,12
4,"Chicago, IL - Albany Park",May-12,$136K,2.30%,-6.20%,87,6.10%,26.10%,148,1.40%,...,194,-3.00%,-17.40%,112,-47.0,-32.0,94.70%,1.20%,-1.20%,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20960,"Chicago, IL - Wrigleyville",Apr-19,$510K,24.40%,-2.50%,9,-10.00%,-50.00%,37,37.00%,...,28,12.00%,7.70%,72,-20.0,-1.0,98.40%,0.50%,-1.00%,19
20961,"Chicago, IL - Wrigleyville",May-19,$465K,-8.80%,-3.10%,12,33.30%,-52.00%,35,-5.40%,...,30,7.10%,20.00%,57,-15.0,6.0,98.00%,-0.40%,-1.20%,19
20962,"Chicago, IL - Wrigleyville",Jun-19,$418K,-10.10%,-9.10%,15,25.00%,-34.80%,34,-2.90%,...,29,-3.30%,61.10%,43,-14.0,-8.0,98.40%,0.50%,-0.30%,19
20963,"Chicago, IL - Wrigleyville",Jul-19,$435K,4.10%,-10.00%,20,33.30%,-28.60%,28,-17.60%,...,30,3.40%,100.00%,59,16.0,9.0,98.20%,-0.20%,0.30%,19
20964,"Chicago, IL - Wrigleyville",Aug-19,$456K,4.70%,-0.20%,22,10.00%,-12.00%,34,21.40%,...,37,23.30%,117.60%,65,6.0,17.0,98.00%,-0.30%,0.70%,19

In [67]:
summary_house = house_df[["Region","Year","Month of Period End","Median Sale Price", "Homes Sold", "New Listings","Days on Market"]]
summary_house

,Region,Year,Month of Period End,Median Sale Price,Homes Sold,New Listings,Days on Market
0,"Chicago, IL - Albany Park",12,Jan-12,$145K,79,101,107
1,"Chicago, IL - Albany Park",12,Feb-12,$136K,78,103,120
2,"Chicago, IL - Albany Park",12,Mar-12,$122K,75,120,137
3,"Chicago, IL - Albany Park",12,Apr-12,$133K,82,146,158
4,"Chicago, IL - Albany Park",12,May-12,$136K,87,148,112
...,...,...,...,...,...,...,...
20960,"Chicago, IL - Wrigleyville",19,Apr-19,$510K,9,37,72
20961,"Chicago, IL - Wrigleyville",19,May-19,$465K,12,35,57
20962,"Chicago, IL - Wrigleyville",19,Jun-19,$418K,15,34,43
20963,"Chicago, IL - Wrigleyville",19,Jul-19,$435K,20,28,59
20964,"Chicago, IL - Wrigleyville",19,Aug-19,$456K,22,34,65

In [68]:
summary_house = summary_house.rename(columns={"Region":"Neighborhood","Month of Period End":"Month",
                                                  "Median Sale Price":"Sale Price"})
summary_house

,Neighborhood,Year,Month,Sale Price,Homes Sold,New Listings,Days on Market
0,"Chicago, IL - Albany Park",12,Jan-12,$145K,79,101,107
1,"Chicago, IL - Albany Park",12,Feb-12,$136K,78,103,120
2,"Chicago, IL - Albany Park",12,Mar-12,$122K,75,120,137
3,"Chicago, IL - Albany Park",12,Apr-12,$133K,82,146,158
4,"Chicago, IL - Albany Park",12,May-12,$136K,87,148,112
...,...,...,...,...,...,...,...
20960,"Chicago, IL - Wrigleyville",19,Apr-19,$510K,9,37,72
20961,"Chicago, IL - Wrigleyville",19,May-19,$465K,12,35,57
20962,"Chicago, IL - Wrigleyville",19,Jun-19,$418K,15,34,43
20963,"Chicago, IL - Wrigleyville",19,Jul-19,$435K,20,28,59
20964,"Chicago, IL - Wrigleyville",19,Aug-19,$456K,22,34,65

In [69]:
summary_house.dtypes

Neighborhood      object
Year              object
Month             object
Sale Price        object
Homes Sold        object
New Listings      object
Days on Market    object
dtype: object

In [77]:
summary_house['Neighborhood'] = summary_house['Neighborhood'].astype(str)
#poverty_rate = census_data_complete["summary_house"].astype(float)
summary_house.dtypes

Neighborhood      object
Year              object
Month             object
Sale Price        object
Homes Sold        object
New Listings      object
Days on Market    object
dtype: object

In [71]:
houses_2019 = summary_house.loc[summary_house["Year"] == "19"]
houses_2019 = pd.DataFrame(houses_2019)
houses_2019 = houses_2019.reset_index()
houses_2019.dropna()
houses_2019

,index,Neighborhood,Year,Month,Sale Price,Homes Sold,New Listings,Days on Market
0,84,"Chicago, IL - Albany Park",19,Jan-19,$285K,64,79,78
1,85,"Chicago, IL - Albany Park",19,Feb-19,$310K,60,83,83
2,86,"Chicago, IL - Albany Park",19,Mar-19,$320K,70,114,83
3,87,"Chicago, IL - Albany Park",19,Apr-19,$287K,81,156,68
4,88,"Chicago, IL - Albany Park",19,May-19,$280K,89,175,56
...,...,...,...,...,...,...,...,...
1815,20960,"Chicago, IL - Wrigleyville",19,Apr-19,$510K,9,37,72
1816,20961,"Chicago, IL - Wrigleyville",19,May-19,$465K,12,35,57
1817,20962,"Chicago, IL - Wrigleyville",19,Jun-19,$418K,15,34,43
1818,20963,"Chicago, IL - Wrigleyville",19,Jul-19,$435K,20,28,59
1819,20964,"Chicago, IL - Wrigleyville",19,Aug-19,$456K,22,34,65

In [72]:
ch_neighborhoods =  (houses_2019["Neighborhood"].unique())
ch_neighborhoods

array(['Chicago, IL - Albany Park', 'Chicago, IL - Andersonville',
       'Chicago, IL - Archer Heights', 'Chicago, IL - Archer Highlands',
       'Chicago, IL - Armour Square', 'Chicago, IL - Ashburn',
       'Chicago, IL - Ashburn Estates', 'Chicago, IL - Auburn Gresham',
       'Chicago, IL - Austin', 'Chicago, IL - Avalon Park',
       'Chicago, IL - Avondale', 'Chicago, IL - Back of the Yards',
       'Chicago, IL - Belmont Gardens', 'Chicago, IL - Belmont Heights',
       'Chicago, IL - Belmont Terrace', 'Chicago, IL - Beverly',
       'Chicago, IL - Big Oaks', 'Chicago, IL - Bowmanville',
       'Chicago, IL - Boystown', 'Chicago, IL - Brainerd',
       'Chicago, IL - Brickyard', 'Chicago, IL - Bridgeport',
       'Chicago, IL - Brighton Park', 'Chicago, IL - Bronzeville',
       'Chicago, IL - Bryn Mawr Historic District',
       'Chicago, IL - Bucktown', 'Chicago, IL - Budlong Woods',
       'Chicago, IL - Buena Park', 'Chicago, IL - Burnside',
       'Chicago, IL - Cabrini-Green', 'Chicago, IL - California Park',
       'Chicago, IL - Calumet Heights', 'Chicago, IL - Canaryville',
       'Chicago, IL - Carl Sandburg Village',
       'Chicago, IL - Central Chicago', 'Chicago, IL - Central Station',
       'Chicago, IL - Chatham', 'Chicago, IL - Chicago Lawn',
       'Chicago, IL - Chinatown', 'Chicago, IL - Chrysler Village',
       'Chicago, IL - Clearing', 'Chicago, IL - Cottage Grove Heights',
       'Chicago, IL - Cragin', 'Chicago, IL - DePaul',
       'Chicago, IL - Dearborn Park', 'Chicago, IL - Douglas',
       'Chicago, IL - Dunning', 'Chicago, IL - East Beverly',
       'Chicago, IL - East Chatham', 'Chicago, IL - East Garfield Park',
       'Chicago, IL - East Humboldt Park',
       'Chicago, IL - East Rogers Park', 'Chicago, IL - East Side',
       'Chicago, IL - East Ukrainian Village',
       'Chicago, IL - East Village', 'Chicago, IL - Edgebrook',
       'Chicago, IL - Edgewater', 'Chicago, IL - Edgewater Beach',
       'Chicago, IL - Edgewater Glen', 'Chicago, IL - Edison Park',
       'Chicago, IL - Englewood', 'Chicago, IL - Far North Side',
       'Chicago, IL - Far Southeast Side',
       'Chicago, IL - Far Southwest Side', 'Chicago, IL - Fernwood',
       'Chicago, IL - Fuller Park', 'Chicago, IL - Fulton Market',
       'Chicago, IL - Fulton River District', 'Chicago, IL - Gage Park',
       'Chicago, IL - Galewood', 'Chicago, IL - Garfield Ridge',
       'Chicago, IL - Gladstone Park', 'Chicago, IL - Gold Coast',
       'Chicago, IL - Golden Ghetto', 'Chicago, IL - Goose Island',
       'Chicago, IL - Graceland West', 'Chicago, IL - Grand Boulevard',
       'Chicago, IL - Grand Crossing',
       'Chicago, IL - Greater Grand Crossing', 'Chicago, IL - Greektown',
       'Chicago, IL - Hamlin Park', 'Chicago, IL - Heart of Chicago',
       'Chicago, IL - Hegewisch', 'Chicago, IL - Hermosa',
       'Chicago, IL - Hollywood Park', 'Chicago, IL - Homan Square',
       'Chicago, IL - Horner Park', 'Chicago, IL - Humboldt Park',
       'Chicago, IL - Hyde Park',
       'Chicago, IL - Hyde Park Kenwood Historic District',
       'Chicago, IL - Irving Park', 'Chicago, IL - Irving Woods',
       'Chicago, IL - Jackowo', 'Chicago, IL - Jefferson Park',
       'Chicago, IL - Jeffrey Manor', 'Chicago, IL - K-Town',
       'Chicago, IL - Kelvyn Park', 'Chicago, IL - Kennedy Park',
       'Chicago, IL - Kenwood', 'Chicago, IL - Kilbourn Park',
       'Chicago, IL - Kosciuszko Park', 'Chicago, IL - Lake View',
       'Chicago, IL - Lake View East', 'Chicago, IL - Lathrop',
       'Chicago, IL - LeClaire Courts', 'Chicago, IL - Lincoln Park',
       'Chicago, IL - Lincoln Square', 'Chicago, IL - Little Cassubia',
       'Chicago, IL - Little Italy', 'Chicago, IL - Little Vietnam',
       'Chicago, IL - Little Village', 'Chicago, IL - Logan Square',
       'Chicago, IL - Longwood Manor', 'Chicago, IL - Lower West Side',
       'Chicago, IL - Loyola', 'Chicago, IL - Magnificent Mile',
       'Chicago, IL - Magnolia Glen', 'Chicago, IL - Margate Park',
       'Chicago, IL - Marquette Park', 'Chicago, IL - Marshall Square',
       'Chicago, IL - Marynook', 'Chicago, IL - Mayfair',
       'Chicago, IL - McKinley Park', 'Chicago, IL - Montclare',
       'Chicago, IL - Morgan Park', 'Chicago, IL - Mount Greenwood',
       'Chicago, IL - Near East Side', 'Chicago, IL - Near North Side',
       'Chicago, IL - Near South Side', 'Chicago, IL - New City',
       'Chicago, IL - New City / Back of the Yards',
       'Chicago, IL - New East Side', 'Chicago, IL - Noble Square',
       'Chicago, IL - North Austin', 'Chicago, IL - North Center',
       'Chicago, IL - North Kenwood', 'Chicago, IL - North Lawndale',
       'Chicago, IL - North Mayfair', 'Chicago, IL - North Park',
       'Chicago, IL - North Side', 'Chicago, IL - Northwest Side',
       'Chicago, IL - Nortown', 'Chicago, IL - Norwood Park',
       'Chicago, IL - Norwood Park East',
       'Chicago, IL - Norwood Park West', 'Chicago, IL - Oakland',
       'Chicago, IL - Old Hegewisch', 'Chicago, IL - Old Irving Park',
       'Chicago, IL - Old Norwood Park', 'Chicago, IL - Old Town',
       'Chicago, IL - Old Town Triangle', 'Chicago, IL - Oriole Park',
       'Chicago, IL - Palmer Square', 'Chicago, IL - Park Manor',
       'Chicago, IL - Park West', 'Chicago, IL - Peterson Park',
       'Chicago, IL - Pill Hill / Calument Heights',
       'Chicago, IL - Pilsen', 'Chicago, IL - Portage Park',
       'Chicago, IL - Prairie District', "Chicago, IL - Printer's Row",
       'Chicago, IL - Pulaski Park', 'Chicago, IL - Pullman',
       'Chicago, IL - Ranch Triangle', 'Chicago, IL - Ravenswood',
       'Chicago, IL - Ravenswood Gardens',
       'Chicago, IL - Ravenswood Manor', 'Chicago, IL - River North',
       'Chicago, IL - River West', 'Chicago, IL - Roscoe Village',
       'Chicago, IL - Rosehill', 'Chicago, IL - Roseland',
       'Chicago, IL - Rosemoor', 'Chicago, IL - Schorsch Forest View',
       'Chicago, IL - Schorsch Village', 'Chicago, IL - Scottsdale',
       'Chicago, IL - Sheffield', 'Chicago, IL - Sheridan Park',
       'Chicago, IL - Sheridan Station Corridor',
       'Chicago, IL - South Austin', 'Chicago, IL - South Chicago',
       'Chicago, IL - South Commons', 'Chicago, IL - South Deering',
       'Chicago, IL - South East Ravenswood',
       'Chicago, IL - South Lawndale / Little Village',
       'Chicago, IL - South Loop', 'Chicago, IL - South Old Irving Park',
       'Chicago, IL - South Shore', 'Chicago, IL - South Side',
       'Chicago, IL - Southwest Side', "Chicago, IL - St. Ben's",
       'Chicago, IL - Stony Island Park', 'Chicago, IL - Streeterville',
       'Chicago, IL - The Chicago University', 'Chicago, IL - The Gap',
       'Chicago, IL - The Loop', 'Chicago, IL - Tri-Taylor',
       'Chicago, IL - Tri-taylor', 'Chicago, IL - Ukrainian Village',
       'Chicago, IL - Union Ridge', 'Chicago, IL - Uptown',
       'Chicago, IL - Vittum Park', 'Chicago, IL - Waclawowo',
       'Chicago, IL - Washington Heights',
       'Chicago, IL - Washington Park', 'Chicago, IL - West Beverly',
       'Chicago, IL - West Chatham', 'Chicago, IL - West Chesterfield',
       'Chicago, IL - West DePaul', 'Chicago, IL - West Elsdon',
       'Chicago, IL - West Englewood', 'Chicago, IL - West Garfield Park',
       'Chicago, IL - West Humboldt Park', 'Chicago, IL - West Lake View',
       'Chicago, IL - West Lawn', 'Chicago, IL - West Pullman',
       'Chicago, IL - West Ridge', 'Chicago, IL - West Rogers Park',
       'Chicago, IL - West Side', 'Chicago, IL - West Town',
       'Chicago, IL - West Walker', 'Chicago, IL - West Woodlawn',
       'Chicago, IL - Wicker Park', 'Chicago, IL - Wildwood',
       'Chicago, IL - Woodlawn', 'Chicago, IL - Woodlawn Ridge',
       'Chicago, IL - Wrightwood', 'Chicago, IL - Wrigleyville'],
      dtype=object)

In [73]:
len(ch_neighborhoods)

228

In [74]:
neighbor_2019 = houses_2019.Neighborhood.str.split("-")
neighbor_2019

0        [Chicago, IL ,  Albany Park]
1        [Chicago, IL ,  Albany Park]
2        [Chicago, IL ,  Albany Park]
3        [Chicago, IL ,  Albany Park]
4        [Chicago, IL ,  Albany Park]
                    ...
1815    [Chicago, IL ,  Wrigleyville]
1816    [Chicago, IL ,  Wrigleyville]
1817    [Chicago, IL ,  Wrigleyville]
1818    [Chicago, IL ,  Wrigleyville]
1819    [Chicago, IL ,  Wrigleyville]
Name: Neighborhood, Length: 1820, dtype: object

In [75]:
neighbor_2019 = pd.DataFrame(neighbor_2019)
neighbor_2019 = neighbor_2019.reset_index()
neighbor_2019

      index                   Neighborhood
0         0   [Chicago, IL ,  Albany Park]
1         1   [Chicago, IL ,  Albany Park]
2         2   [Chicago, IL ,  Albany Park]
3         3   [Chicago, IL ,  Albany Park]
4         4   [Chicago, IL ,  Albany Park]
...     ...                            ...
1815   1815  [Chicago, IL ,  Wrigleyville]
1816   1816  [Chicago, IL ,  Wrigleyville]
1817   1817  [Chicago, IL ,  Wrigleyville]
1818   1818  [Chicago, IL ,  Wrigleyville]
1819   1819  [Chicago, IL ,  Wrigleyville]

[1820 rows x 2 columns]

In [76]:
neighbor_2019_2 = neighbor_2019.Neighborhood.str.split(",",expand=True)
neighbor_2019_2

       0
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
...   ..
1815 NaN
1816 NaN
1817 NaN
1818 NaN
1819 NaN

[1820 rows x 1 columns]